/* Base Size */
html {
  font-size: 15px;
}

/* Body styles */
body {
  margin: 0;
  background-color:#d0bba0;
  color: #451b16;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Source Sans Pro';
}
/* Text styles */
h1 {
  color: green;
  text-shadow: 1px 1px 2px #451b16;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* HEADER styles */
.custom-header-wrapper {
  background: rgb(251,251,251);
  background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(208,187,160,1) 100%);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Center the Header image */
.custom-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Navbar styles */
.navbar-custom {
  background-color: #451b16;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  color: #fbfbfb;
}

.nav-link:active,
.nav-link:hover {
  color: green;
}

/* Override bootstrap navbar color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #fbfbfb;
}

.custom-toggler.navbar-toggler {
  border-color: #fbfbfb;
  margin: 0.5rem;
  position: relative;
  border: none;
}

/* Restyle hamburger */
.custom-toggler .navbar-toggler-icon {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(242, 242, 242, 242)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Main area background image */
.custom-background {
  background-image: url('images/clouds.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

/* TEST background for main area background image */
.custom-background-TEST  {
  background-image: url('images/clouds.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
}

/* Content boxes styles */
.custom-content  {
  background-color: #fbfbfb;
  border-radius: 1rem;
  padding: 1rem;
}


/*HOME styles */
/* i-frame Vimeo video */
.container-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Responsive style to fit the iframe in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/** Card styles **/
.animal-cards {
  gap: 6rem;
}

.animal-card {
  margin: 0;
}

.card {
  width: 100%;
  max-width: 300px;
  background-color: #451b16;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  position: absolute;
  bottom: 0;
  padding: 1.5rem;
  background-color: #451b16;
  color: #fbfbfb;
  opacity: 0.7;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #fbfbfb;
}

.btn-primary {
  background-color: #451b16;
  color: #fbfbfb;
  border: 2px solid #fbfbfb;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #fbfbfb;
  color: #451b16;
  font-weight: bold;
  border-color: #fbfbfb;
}

/*ABOUT styles */
/* wraps text around image */
p.custom-wrap-text {
  text-align: justify;
}

/* floats image to left, allows text wrap */
img.custom-wrap-img {
  float: left;
  margin-right: 2rem;
}

/* for sign-off image */
.custom-signoff  {
  width: 235px;
  height: 28px;
}

/* FOOTER styles */
.custom-footer {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: #451b16;
  text-align: center;
  margin-top: 2rem;
}

/* Facebook Follow Us */
.custom-facebook {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20%;
}